
.login {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
.form {
  align-items: center;
  justify-content: center;
  text-align: center;
}
input {
  align-items: center;
  justify-content: center;
  width: 68%;
  padding: 6px 10px;
  margin: 1px 0;
  box-sizing: border-box;
}
.login-inner {
  padding: 10px;
}

.landing {
  position: relative;
  background-color: white;
  height: 80vh;
}

.landing-inner {
  color: black;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard {
  padding-top: 50px;
  position: relative;
  height: 50vh;
}

.dash {
  padding-top: 100px;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link {
  color: #FFF;
  padding: 5px;
}
.link:hover {
   color: gray;
   text-decoration: none;  
}

.todobtn {
  background-color: black;
  color: white;
  border: none;
}

.todo {
  padding: 30px;
  border: 0.01em solid rgb(230, 220, 220);
}

.todo-main {
  padding: 20px;
}

.todo-inner {
  padding: 10px;

}

.tbtn {
  padding-bottom: 15px; 
}